section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center; 
  padding: 2rem;
 
}

button {
  font: inherit;
  cursor: pointer;
  background: #b392ac;
  border: none;
  margin: 10px;
  color: white;
  padding: 0.75rem 2rem;
  
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #b392ac;
  
}

.nav-link {
  font: inherit;
  font-size: large;
  cursor: pointer;
  background: #b392ac;
  border: none; 
  color: white; 
  text-decoration: none;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
    
}

.navbody{
  width: 100%;
  background: #b392ac;
  padding: 2rem;
  background-size: contain;
  margin-top: 0px;
}
